h1 {color: orange}
button {
    background-color: orange; /* Roheline taustavärv */
    color: white; /* Valge teksti värv */
    border: none; /* Eemaldab nupu ääriste */
    padding: 10px 20px; /* Lisa ruumi nupu ümber teksti */
    text-align: center; /* Kesksusta teksti nupu sees */
    text-decoration: none; /* Eemaldab vaikimisi lingi stiili */
    display: inline-block; /* Muudab nupu blokksisendi elemendiks, et saaks paigutada */
    font-size: 20px; /* Määrab teksti suuruse */
    margin: 4px 2px; /* Lisa ruumi nupu ümber (horisontaalselt ja vertikaalselt) */
    cursor: pointer; /* Muuda kursori välimust, et see näitaks, et nupule saab klõpsata */
}
button2 {
    background-color: orange; /* Roheline taustavärv */
    color: white; /* Valge teksti värv */
    border: none; /* Eemaldab nupu ääriste */
    padding: 10px 20px; /* Lisa ruumi nupu ümber teksti */
    text-align: center; /* Kesksusta teksti nupu sees */
    text-decoration: none; /* Eemaldab vaikimisi lingi stiili */
    display: inline-block; /* Muudab nupu blokksisendi elemendiks, et saaks paigutada */
    font-size: 20px; /* Määrab teksti suuruse */
    margin: 4px 2px; /* Lisa ruumi nupu ümber (horisontaalselt ja vertikaalselt) */
    cursor: pointer; /* Muuda kursori välimust, et see näitaks, et nupule saab klõpsata */
}